<h1> Contact Details </h1>
<p>
 <strong> First Name: </strong> <%= @contacts.first_name %>
 <br>
 <strong> Last Name: </strong> <%= @contacts.last_name %>
 <br>
 <strong> Email:  </strong> <%= @contacts.email %>
 <br>
 <strong> notes : </strong> <%= @contacts.note %>
 </p>
